{% extends 'base.html' %}
{% block title %} {{ game_name }} {% endblock %}

{% block body %}
<body class="allgenre-page">
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img id="carouselpic" src="{{ game_img }}">
            <div class="carousel-caption">
                <h1  id="genre-title" class="display-2">{{ game_name }}</h1>
            </div>
        </div>
    </div>
</div>
    <p id="logincolor">{{ game_desc }}</p>

<div id="loginsignup" class="dropdown">
    <div class="logincontainer">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div id="fourth">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <form id="logincolor" action='/add-to-favorites' method="POST">
                                <input type='hidden' name ='fav_game' value="{{ game_name }}">
                                <button id="buttoncolor" type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Add to favorites</button>
                                <!-- <input id="buttoncolor" type="submit" value="Add to favorites"> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
{% endblock %}